// Place all the styles related to the people controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#photos-box {
  margin: 0 12% 0 12%;
}
.each_person {
  display: inline-block;
  max-width: 25%;
  margin: 3px;
}
.person_photo {
  max-width: 100%;
}