// Place all the styles related to the people controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#photos-box {
  margin: 0 12% 0 12%;
}
.each_person {
  display: inline-block;
  max-width: 25%;
  margin: 3px;
}
.person_photo {
  max-width: 100%;
}
#image {
  display: none;
}
#report-button {
  font-size: 60px;
  width: 50%;
  margin: 0 24% 0 24%;
  color: #FFF;
  background: #569E3D linear-gradient(#79D858, #569E3D) repeat-x;
  border-color: #4A993E;
}
#report-form label {
  font-size: 17px;
}
input {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 17px;
  border: 1px solid #000000;
}
#result-banner {
  text-align: center;
}
#result-name {
  width: 50%;
  margin: 0 24% 0 24%;
  text-align: center;
  font-size: 40px;
}
#result-image {
  width: 50%;
  margin: 0 24% 0 24%;
}
#contact {
  font-size: 30px;
  text-align: center;
}